*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --lighter-white: color-mix(in srgb, white, black 10%);
  --slightly-lighter-white: color-mix(in srgb, white, black 15%);
  --even-lighter-white: color-mix(in srgb, white, black 20%);
  --supremely-lighter-white: color-mix(in srgb, white, black 30%);
  --lighter-black: color-mix(in srgb, white, black 99%);
  --slightly-lighter-black: color-mix(in srgb, white, black 98%);
  --pressed-white: color-mix(in srgb, white, black 60%);

  --text-1: color-mix(in srgb, white, black 5%);
  --text-0: color-mix(in srgb, white, black 3%);
  --heading: color-mix(in srgb, white, black 1%);

  --grid-color: rgba(255, 255, 255, 0.1);
  --gridHoverColor: rgba(255, 255, 255, 0.1);

  --easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
}

.invert {
  filter: invert(1);
}

@keyframes PopsIn {
  from {
    scale: 0.2;
    filter: blur(15px);
    opacity: 0.5;
  }

  to {
    scale: 1;
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes SlideFromRight {
  from {
    transform: translateX(50px);
    opacity: 0.4;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.PopsIn,
.SlideFromRight {
  opacity: 0;
}

.PopsIn.visible {
  animation: PopsIn 0.7s var(--easeOutCubic) forwards;
}

.SlideFromRight.visible {
  animation: SlideFromRight 0.7s var(--easeOutCubic) forwards;
  animation-delay: 700ms;
}

.PopsIn.visible {
  animation-delay: calc(var(--index) * 80ms);
}

.ShouldGlow {
  display: flex;
  filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.3));
  transition: filter 150ms ease-in-out;
}

.ShouldGlow:hover {
  filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.7));
}

.ShouldGlowSoftly {
  display: flex;
  filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.15));
  transition: filter 150ms ease-in-out;
}

.ShouldGlowSoftly:hover {
  filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.3));
}

@view-transition {
  navigation: auto;
}

body {
  background-color: #000000;
  background-image:
    radial-gradient(circle 100px at var(--mouse-x, -999px) var(--mouse-y, -999px), var(--gridHoverColor), transparent),
    linear-gradient(var(--grid-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-size: 100% 100%, 40px 40px, 40px 40px;
  background-attachment: fixed, scroll, scroll;

  font-family: "Comic Neue", "Comic Sans MS", sans-serif;
  min-height: 100vh;
}

p {
  color: var(--text-1);
  margin: 0;
}

h1 {
  color: var(--heading);
  font-size: 100px;
  margin: 0;
}

h1.cooltext {
  color: var(--heading);
  font-size: 40px;
  margin: 0;
}

h2 {
  color: var(--text-0);
  margin: 0;
}

hr {
  border: solid 1px var(--even-lighter-white);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-lined {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.titlemaybe {
  width: 95%;
  text-align: center;
  padding: 10px;
}

.lr-split {
  background-color: var(--lighter-black);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 10px;
  border: solid 2px white;
  gap: 10px;
  max-width: 70%;
  flex-wrap: wrap;
}

.lr-split.invertlayout {
  flex-direction: row-reverse;
}

.lefthand {
  display: flex;
  flex-direction: row;
  border: solid 1px var(--slightly-lighter-white);
  background-color: var(--slightly-lighter-black);
  overflow: hidden;
}

.lefthand img {
  object-fit: cover;
}

.righthand {
  display: flex;
  flex-direction: column;
  background-color: var(--slightly-lighter-black);
  border: solid 1px var(--slightly-lighter-white);
  padding: 10px;
  min-width: 200px;
  /* height: 100%; */
  flex: 1;
}

.lr-split:hover,
.lr-split:focus-visible,
.lefthand:hover,
.lefthand:focus-visible,
.righthand:hover,
.righthand:focus-visible {
  background-color: black;
}

.lr-split,
.lefthand,
.righthand {
  transition: all 150ms ease-in-out;
}

.spoiler {
  transition: all 150ms ease-in-out;
}

.invert.spoiler {
  filter: blur(10px) invert(1);
}

.invert.spoiler:hover,
.invert.spoiler:focus-visible {
  filter: blur(0px) invert(1);
}

.cool-button {
  margin: 0px;
  width: fit-content;
  color: white;
  background: var(--lighter-black);
  text-align: center;
  border: solid 1px white;
  padding: 20px;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}

.cool-button:hover,
.cool-button:focus-visible {
  color: black;
  background: var(--lighter-white);
  text-align: center;
  border: solid 1px white;
  border-radius: 100px;
  scale: 1.05;
}

.cool-button:active {
  filter: blur(2px);
  color: black;
  background: var(--pressed-white);
  text-align: center;
  border: solid 1px white;
  scale: 0.99;
}

a {
  text-decoration: none;
}

.hellotext-container {
  position: fixed;
  bottom: 12px;
  right: 12px;
  background: var(--lighter-black);
  border: solid 0.3px var(--slightly-lighter-white);
  padding: 3px;
}

.hellotext-container:hover,
.hellotext-container:focus-visible {
  border-radius: 10px;
  filter: invert(1);
}

.hello-text {
  margin: 0px;
  font-size: 7px;
  color: var(--even-lighter-white);
}

.hello-text,
.hellotext-container {
  transition: all 150ms ease-in-out;
}

@media (width <=740px) {
  .lr-split {
    max-width: 95%;
  }
}
