*, *::before, *::after {
  box-sizing: border-box;
}

:root {
	--lighter-white: color-mix(in srgb, white, black 10%);
  --slightly-lighter-white: color-mix(in srgb, white, black 15%);
  --even-lighter-white: color-mix(in srgb, white, black 20%);
  --lighter-black: color-mix(in srgb, white, black 99%);
  --slightly-lighter-black: color-mix(in srgb, white, black 98%);
  --pressed-white: color-mix(in srgb, white, black 60%);

  --text-1: color-mix(in srgb, white, black 5%);
  --text-0: white;
}

.invert {
  filter: invert(1);
}

@view-transition {
  navigation: auto;
}

body {
  background-color: #000000;
  font-family: "Comic Sans MS", sans-serif;
  min-height: 100vh;
}

p {
  color: var(--text-1);
  margin: 0;
}

h2 {
  color: var(--text-0);
  margin: 0;
}

hr {
  border: solid 1px var(--even-lighter-white);
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-lined {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lr-split {
  background-color: var(--lighter-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: solid 2px white;
  gap: 10px;
  max-width: 70%;
  flex-wrap: wrap;
}

.lefthand {
  display: flex;
  flex-direction: row;
  border: solid 1px var(--slightly-lighter-white);
  background-color: var(--slightly-lighter-black);
  overflow: hidden;
}

.righthand {
  display: flex;
  flex-direction: column;
  background-color: var(--slightly-lighter-black);
  border: solid 1px var(--slightly-lighter-white);
  padding: 10px;
  min-width: 200px;
  height: 100%;
  flex: 1;
}

.lr-split:hover, .lefthand:hover, .righthand:hover {
  background-color: black;
}

.lr-split, .lefthand, .righthand {
  transition: all 150ms ease-in-out;
}

.spoiler {
  transition: all 150ms ease-in-out;
}

.invert.spoiler {
  filter: blur(10px) invert(1);
}

.invert.spoiler:hover {
  filter: blur(0px) invert(1);
}

.cool-button {	
  margin: 0px;
  width: fit-content;
  color: white;
  background: var(--lighter-black);
  text-align: center;
  border: solid 1px white;
  padding: 20px;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}

.cool-button:hover {
  color: black;
  background: var(--lighter-white);
  text-align: center;
  border: solid 1px white;
  border-radius: 100px;
  scale: 1.05;
}

.cool-button:active {	
  filter: blur(2px);
  color: black;
  background: var(--pressed-white);
  text-align: center;
  border: solid 1px white;
  scale: 0.99;
}

a {
  text-decoration: none;
}

.hellotext-container {
  position: fixed;
  bottom: 12px;
  right: 12px;
  background: var(--lighter-black);
  padding: 3px;
}

.hellotext-container:hover {
  position: fixed;
  bottom: 12px;
  right: 12px;
  background: var(--lighter-black);
  padding: 3px;
  border-radius: 10px;
  filter: invert(1);
}

.hello-text {
  margin: 0px;
  font-size: 7px;
  color: var(--even-lighter-white);
}

.hello-text, .hellotext-container {
  transition: all 150ms ease-in-out;
}
